<!DOCTYPE html>
<html>
  <head>
    <title>Lab1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MyApp</a>
        <a class="navbar-brand"  href="<%= tracks_path %>">tracks</a>
    <a class="navbar-brand" href="<%= students_path %>">students</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-right ms-auto navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto  ms-auto">
        <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-info', data: { confirm: 'Are you sure you want to log out?' } %>

        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>


   <div class="container">
    <%= yield %>
  </div>
</html>
